@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.boton{
    width: 135px;
    height: 45px;
    color: black;
    background-color: orange;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}