@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.barraTareas{
    width: 295px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}